/* purgecss start ignore */

@tailwind base;
@tailwind components;

html {
  font-family: "Rubik", sans-serif;
}
body {
  @apply bg-white-500;
}
p {
  @apply text-black-500;
}
.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-blue-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
  @apply left-0 w-full;
}
.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022"; /* bullet point, for screen readers */
  text-indent: -9999999px; /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}
li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}
li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}
/* Slideshow */
.slick-dots li {
  @apply inline-block;
}
.slick-dots span {
  @apply bg-gray-500;
}
.slick-dots .slick-active span {
  @apply bg-blue-500 rounded-l-full rounded-r-full w-12;
}

/* purgecss end ignore */
@tailwind utilities;
/* purgecss start ignore */
/* purgecss end ignore */

/* slider */

.mask {
  width: 170%;
  height: 95vh;
  position: relative;
  right: 30%;
  background-color: aqua;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-img {
  width: 140%;
  height: 100%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1e1d1d;
  opacity: 0.1;
}

.hero {
  @apply h-1/2 w-full;

}

.hero .content {
  position: absolute;
  top: 40%;
  left: 8%;
  /* opacity: 0; */
  /* background: rgba(218, 190, 190, 0.3); */
  text-align: center;
  animation: slide-up 1s ease .5s;
  animation-fill-mode: forwards;
  /* visibility: hidden;*/
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 70%;
  }

  100% {
    visibility: visible;
    top: 40%;
  }
}

.hero .content h1 {
  font-size: 3.5rem;
  color: rgb(11, 215, 246);
  margin: 0;
}

.hero .content p {
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.5rem 0 1rem;
  color: aliceblue;
}

.content .btn {
  margin: 1rem 0.2rem;
}

.content .btn {
  margin: 1rem 0.2rem;
}

@media screen and (max-width: 640px) {
  .hero .content h1 {
    font-size: 3rem;
  }

  .hero .content p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 640px) {
  .hero .content h1 {
    font-size: 2.5rem;
  }

  .hero .content p {
    font-size: 1.6rem;
    color: #fff
  }
}

.arrow {
  background: transparent;
  color: #fff;
  width: 3rem;
  height: 2.5rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 999;

}

.arrow:hover {
  background: #fff;
  color: #777;
}

.next {
  right: 0.1rem;
}

.prev {
  left: 0.1rem;
}

.container {
  position: relative;
  width: 300px;
  height: 300px;
}

.hex {
  display: inline-block;


  width: 35%;
  position: absolute;
}

.hex::before {
  content: "";
  display: block;
  background: currentColor;
  padding-top: 86.6%;
  /* 100%*cos(30) */
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.pos0 {
  top: 0%;
  left: 30%;
}
